@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-image: url('https://images.pexels.com/videos/7385122/4k-background-loop-ocean-7385122.jpeg');
  font-family: Arial, Helvetica, sans-serif;
}

.zain-regular {
  font-family: "Zain", serif;
  font-weight: 400;
  font-style: normal;
}
